@{
    ViewData["Title"] = "Texter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="well welcome">
	<center>
        <h2>Welcome To Texter</h2>
    	<h3>Your own Messaging Application</h3>
	</center>
</div>
    <!--<hr/>
    @Html.ActionLink("View All Messages", "GetMessages")
    <br/>
    @Html.ActionLink("Send a new Message", "SendMessage")-->
	
